/* Основные изменения каскадной таблицы */
body {
	padding: 0;
	margin: 0;
}
h1, h2, p, ul, a {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #fff;
 }
 ul {
	display: inline-block;
	list-style-type: none;
}
/* Блок - header-nav */
.header-nav {
	background-color: #4d97a3;
	min-height: 80px;
}
.header-nav h1 {
	letter-spacing: 3px;
}
.header-nav a:hover {
	color: red;
}
.title, .menu {
	display: inline-block;
	margin: 1% 0 0 23%;
}
.menu-item {
	display: inline-block;
	opacity: 0.7;
	margin: 0 6px;
	text-transform: uppercase;
	font-size: 18px;
}
/* Блок - page__banner */
.page__banner {
	background: url(img/banner1.png) repeat-x;
	background-size: 100%;
	text-align: center;
	padding: 180px 0;
}
.page__banner h1 {
	text-transform: uppercase;
	margin: 100px 0 150px 0;
	font-size: 48px;
	opacity: 0.7;
}
.button-read {
	background: rgba(255,255,255,.1);
	border: 3px solid #afb1b4;
	border-radius: 10px;
	padding: 20px 80px;
	font-size: 28px;
	font-weight: bold;
}
a.button-read:hover {
	color: red;
}
/* Блок - page__info */
.page__info {
	background: #fff;
	text-align: center;
	padding: 100px 0;
}
.inf-title, .inf-text {
	color: #898c93;
	padding: 40px 0;
}
.inf-title {
	font-size: 42px;
}
.inf-text {
	font-size: 18px;
}
.ico-item {
	padding: 60px 70px;
}
/* Блок - page__porfolio */
.page__portfolio {
	background: #45bb86;
	padding: 100px 0;
	text-align: center;
}
.portfolio-inf {
	width: 800px;
	text-align: left;
	vertical-align: middle;
	margin: 0 auto;
	letter-spacing: 3px;
	padding: 20px 0;
	font-size: 22px;
}
/* Секция - contact me */
.page__contact {
	background: url(img/banner2.png) repeat-x;
	background-size: 100%;
	padding: 100px 0;
}
.feedback {
	margin: 0 47%;
	position: relative;
}
.circle {
	position: absolute;
	border: 2px solid whitesmoke;
	border-radius: 50%;
	height: 290px;
	width: 290px;
	margin: -2% 44%;
	background: #fff;
}
input, textarea {
	display: block;
	margin-bottom: 15px;
	padding: 5px;
}
/* Секция - footer */
footer {
	min-height: 25px;
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
	background: #45bb86;
	padding: 15px 0;
}